{
    "model": {
        "embedded": {
            "modelPath": "src/SACAWN/_result/models/embedded_model.h5"
        },
        "extractor": {
            "modelPath": "src/SACAWN/_result/models/extractor_model.h5"
        },
        "tileSize": 512
    },
    "dataset": {
        "train": {
            "imageDir": "./src/_data/coco/train2017/",
            "watermarkFile": "./src/_data/train-watermarks.txt",
            "batchSize": 1
        },
        "validation": {
            "imageDir": "./src/_data/coco/val2017/",
            "watermarkFile": "./src/_data/val-watermarks.txt",
            "batchSize": 1
        }
    },
    "training": {
        "epochs": 50,
        "watermarkMaxLength": 256,
        "watermarkVocabSize": 128,
        "optimizer": "adam",
        "learningRate": 1e-4,
        "output": "./src/SACAWN/_result",
        "loss": {
            "imperceptibilityWeight": 1.0,
            "robustnessWeight": 2.0,
            "extractionWeight": 1.5
        },
        "logging": {
            "level": "INFO",
            "file": "logging.log"
        }
    },
    "environment": {
        "TF_ENABLE_ONEDNN_OPTS": 0
    }
}